allow vold tee_device:chr_file rw_file_perms;
allow vold kernel:system module_request;
allow vold self:capability2 block_suspend;
allow vold fscklogs:file { write create open getattr };
allow vold proc_sysrq:file rw_file_perms;
allow vold self:capability sys_boot;
allow vold cache_file:dir { write add_name };
allow vold cache_file:file { write create open };
allow vold proc_dirty_ratio:file rw_file_perms;
allow vold smem_log_device:chr_file rw_file_perms;
allow vold vfat:filesystem { relabelto relabelfrom };
allow vold labeledfs:filesystem { relabelfrom };
allow vold persist_file:dir { read write open getattr };
allow vold persist_file:file { read write open getattr };
allow vold mmc_block_device:blk_file rw_file_perms;
